.container {
    min-height: 100vh;
}
.logo {
    height: 50%;
    width: 50%;
    padding: 24px;
}
.side {
    padding-top: 30%;
}
.nav-link {
    color: black;
}
.nav-link:hover {
    background-color: #eb7207;
}

.nav-pills .nav-link {
    margin:  10px;
    border-radius: 50px;
    align-items: center;
}

/* Optional: To change the active tab color */
.nav-pills .nav-link.active {
    background-color: orange; /* Change background color for active tab */
}
.media {
    margin-top: 10px;
}

/* event headline css */

.event {
    margin-top: 10px;
}

.event_headline {
    color: black;
}

.event_headline:hover {
    color: orange;
}